/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    color: #F7F4E9;
    margin: 0;
    padding: 0;
}

/* Desktop Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: transparent;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
    z-index: 1000;
}
.navbar-blur {
    backdrop-filter: blur(20px);
    background-color: rgba(25, 25, 25, 0.7); /* Adjust the color and opacity as needed */
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}
.nav-logo img {
    height: 50px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #F9C80E;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin-right: 70px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    /* background-color: rgba(255, 255, 255, 0.1); */
    color: #F7F4E9;
    white-space: nowrap;
    font-weight: 400;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #F9C80E;
}

/* Hamburger Navigation */
.hamburger-menu {
    display: none;
}

.hamburger-icon {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    left: 15px;
    top: 15px;
}

.hamburger-icon span {
    width: 30px;
    height: 3px;
    background-color: #F7F4E9;
    margin: 5px;
    transition: 0.3s;
}

.hamburger-icon.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-icon.active span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}


/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .hamburger-menu {
        display: flex;
    }
    .menu-links.active {
        display: flex;
    }
}